/*
created by kasunrachintha on 10/5/22
@author : kasunrachintha
@Date :  10/5/22
@Time: 10:24 am
@Project : Social-Media-Dashboard 
*/

/*dark mode color schemes*/
.dark {
    --bg: hsl(230, 17%, 14%);
    --bg-top: hsl(232, 19%, 15%);
    --bg-card: hsl(228, 28%, 20%);
    --subtext: hsl(228, 34%, 66%);
    --header-text: hsl(0, 0%, 100%);
    --hover: #3a3458;
    --toggler: linear-gardient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

}

/*light mode color schemes*/
.light {
    --bg: hsl(0, 0%, 100%);
    --bg-top: hsl(235, 100%, 98%);
    --bg-card: hsl(227, 47%, 96%);
    --subtext: hsl(228, 12%, 44%);
    --header-text: hsl(230, 17%, 14%);
    --toggler: unset;
    --hover: #e0ddee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inner", sans-serif;
    background-color: var(--bg) !important;
}

/*main div*/
.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.container1 {
    width: 80%;
}

/*Header headline*/
header section:first-child {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*headline 1 Social Media Dashboard color and size*/
.header-headline .header-headline-1 {
    font-weight: 700;
    font-size: 32px;
    color: var(--header-text);
}

/*headline 2 Total Followers color and size*/
.header-headline .header-headline-2 {
    font-weight: 700;
    font-size: 16px;
    color: var(--subtext);
}

/*dark/ light mode toggle*/
.header-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-text);
}

/*dark and light toggle bar*/
.toggler {
    width: 45px;
    min-width: 45px;
    height: 24px;
    margin-left: 10px;
    background: hsl(230, 22%, 74%);
    border-radius: 20px;
    cursor: pointer;
    background-image: var(--toggler);
}

/*dark and light toggle bar inside circle*/
.toggler-circle {
    margin: 2px 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--bg);
    transition: 0.3s;
}

/*social media cart section*/
header section:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*social media header-card class*/
.header-card {
    width: 260px;
    padding: 25px 30px;
    background-color: var(--bg-card);
    text-align: center;
    border-radius: 5px;
}

/*social media padding-left class*/
.padding-left {
    padding-left: 0;
}

/*social media padding-right class*/
.padding-right {
    padding-right: 0;
}

/*card main container*/
.header-card-1 {
    margin: 10px 0 10px 0;
    color: var(--subtext);
    font-weight: 700;
}

/*card 1 class name @kasun*/
.header-card-1-name {
    font-size: 13px;
}

/*followers number*/
.header-card-2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--header-text);
}

/*followers text*/
.header-card-3 {
    color: var(--subtext);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

/*up icon*/
.header-card-4 {
    margin-top: 20px;
}

.facebook {
    border-top: 3px solid hsl(221, 44%, 41%);
}

.twitter {
    border-top: 3px solid hsl(197, 100%, 47%);
}


.instagram {
    position: relative;
    overflow: hidden;
}

.instagram::after {
    content: '';
    background-image: linear-gradient(to right, #fdc468, #df4996);
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
}


.linkedin {
    border-top: 3px solid hsl(199, 85%, 36%);
}

header section:nth-child(3){
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.github {
    border-top: 3px solid hsl(0, 5%, 9%);
}

.medium {
    border-top: 3px solid hsl(0, 5%, 9%);
}

.sololearn {
    border-top: 3px solid hsl(0, 100%, 50%);
}

.hackerrank {
    border-top: 3px solid hsl(81, 75%, 41%);
}




/*add styles  Developed by*/
.attribution{
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    color: hsl(228, 34%, 66%);

}

.attribution a{
    color: hsl(228, 45%, 44%);
}


