/*
created by kasunrachintha on 10/5/22
@author : kasunrachintha
@Date :  10/5/22
@Time: 10:24 am
@Project : Social-Media-Dashboard 
*/

/*dark mode color schemes*/
.dark{
    --bg: hsl(230, 17%,14%);
    --bg-top: hsl(232, 19%,15%);
    --bg-card: hsl(228, 28%,20%);
    --subtext: hsl(228, 34%,66%);
    --header-text: hsl(0, 0%,100%);
    --hover: #3a3458;
    --toggler: linear-gardient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

}

/*light mode color schemes*/
.light {
    --bg: hsl(0, 0%, 100%);
    --bg-top: hsl(235, 100%, 98%);
    --bg-card: hsl(227, 47%, 96%);
    --subtext: hsl(228, 12%, 44%);
    --header-text: hsl(230, 17%, 14%);
    --toggler: unset;
    --hover: #e0ddee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inner",sans-serif;
    background-color:var(--bg) !important;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.container1{
    width: 80%;
}

/*Header headline*/
header section:first-child{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom: 40px;
}

/*headline 1 Social Media Dashboard color and size*/
.header-headline .header-headline-1{
    font-weight: 700;
    font-size: 32px;
    color: var(--header-text);
}

/*headline 2 Total Followers color and size*/
.header-headline .header-headline-2{
    font-weight: 700;
    font-size: 16px;
    color: var(--subtext);
}

/*dark/ light mode toggle*/
.header-toggler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-text);
}


.toggler{
    width: 45px;
    min-width: 45px;
    height: 24px;
    margin-left: 10px;
    background: hsl(230, 22%, 74%);
    border-radius: 20px;
    cursor: pointer;
    background-image: var(--toggler);
}

.toggler-circle{
    margin: 2px 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--bg);
    transition: 0.3s;
}