/*
created by kasunrachintha on 10/5/22
@author : kasunrachintha
@Date :  10/5/22
@Time: 10:24 am
@Project : Social-Media-Dashboard 
*/

/*dark mode color schemes*/
.dark{
    --bg: hsl(230, 17%,14%);
    --bg-top: hsl(232, 19%,15%);
    --bg-card: hsl(228, 28%,20%);
    --subtext: hsl(228, 34%,66%);
    --header-text: hsl(0, 0%,100%);
    --hover: #3a3458;
    --toggler: linear-gardient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

}

/*light mode color schemes*/
.light {
    --bg: hsl(0, 0%, 100%);
    --bg-top: hsl(235, 100%, 98%);
    --bg-card: hsl(227, 47%, 96%);
    --subtext: hsl(228, 12%, 44%);
    --header-text: hsl(230, 17%, 14%);
    --toggler: unset;
    --hover: #e0ddee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inner",sans-serif;
    background-color:var(--bg) !important;
}

.wrapper{

}